.user-show-page{
  max-width: 414px;
  margin: 0 auto;
  .profile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &-default-img

  }
}
